<?xml version="1.0" encoding="UTF-8"?>
<server description="inventory">

    <featureManager>
        <feature>cdi-3.0</feature>
        <feature>jsonb-2.0</feature>
        <feature>restfulWS-3.0</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />
    <variable name="default.context.root" defaultValue="/inventory" />
    <variable name="postgres/hostname" defaultValue="localhost" />
    <variable name="postgres/portnum" defaultValue="5432" />

    <keyStore id="defaultKeyStore" password="secret" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <!-- Automatically expand WAR files and EAR files -->
    <!-- <applicationManager autoExpand="true"/> -->

    <webApplication location="inventory.war" contextRoot="${default.context.root}" /> 

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <!-- tag::postgresqlLibrary[] -->
    <library id="postgresql-library">
        <fileset dir="${shared.resource.dir}/" includes="*.jar" />
    </library>
    <!-- end::postgresqlLibrary[] -->

    <!-- Datasource Configuration -->
    <!-- tag::dataSource[] -->
    <dataSource id="DefaultDataSource" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library" />
        <properties.postgresql databaseName="admin"
                               serverName="localhost"
                               portNumber="5432"
                               user="admin"
                               password="adminpwd"/>
    </dataSource>
    <!-- end::dataSource[] -->
</server>

<!-- 
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${default.http.port}" 
                  httpsPort="${default.https.port}" /> -->
